@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.light.background');
  --text: theme('colors.light.text');
}

.dark {
  --background: theme('colors.dark.background');
  --text: theme('colors.dark.text');
}

body {
  background-color: var(--background);
  color: var(--text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
